.form-wrapper {
    width: 30rem;
    
    @media (max-width: 30rem) {
        width: 18rem;
    }

    font-size: 1.2rem;
    user-select: none;

    display: flex;
    flex-flow: column nowrap;
    gap: 1rem;

    & > div.remember-forgot {
        box-sizing: border-box;
        padding: 1rem 2rem;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        column-gap: 3rem;
        row-gap: 1rem;
        
        & label {
            cursor: pointer;
        }
    }

    & > div.signup-login-link {
        margin-top: 1rem;
        text-align: center;
    }

    & hr {
        margin: 1rem 0;
    }
}