.block-container {
    & .block-header .options {
        display: flex;
        flex-flow: row wrap;
        gap: 1rem;
    }

    & .scan-entry {
        padding: 1rem;
        display: flex;
        flex-flow: row wrap;
        gap: 1rem;
        justify-content: space-between;
    }

    & .article-wrapper-link {
        text-decoration: none;
        user-select: none;
    }

    & .article {
        box-sizing: border-box;
        padding: 1rem;

        display: flex;
        flex-flow: row nowrap;
        width: 100%;
        max-height: 20rem;

        @media screen and (max-width: 45rem) {
            flex-flow: column nowrap;
            max-height: none;
        }

        &:hover {
            box-shadow: 0px 0px 15px 10px rgba(255, 255, 255, 0.596);
        }

        & .thumbnail {
            flex: 1;

            display: flex;
            justify-content: center;
            align-items: center;

            
            & img {
                max-width: 100%;
                max-height: 100%;

                @media screen and (max-width: 45rem) {
                    max-height: 15rem;
                }
            }
        }

        & .info {
            flex: 1;
            padding: 1rem;

            display: flex;
            flex-flow: column nowrap;
            justify-content: space-evenly;
            gap: 1rem;

            & .article-title {
                font-size: large;
                font-weight: bold;
                text-align: center;
                
            }
        }
    }
}

