.dashboard-container {
    width: 50rem;
    padding: 3rem;
    color: white;
    background-color: rgba(0, 0, 0, 0.61);

    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    gap: 1rem;

    & .header {
        width: 100%;
        border: 1px solid white;

        display: flex;
        flex-flow: row nowrap;
        justify-content: space-around;
        align-items: center;

        & button {
            padding: 0.5rem 1rem;
            font-size: 1.5rem;
            font-weight: bold;
            border-radius: 1rem;
        }
    }
}


.scan-container {
    box-sizing: border-box;
    width: 100%;
    padding: 1rem 2rem;
    padding-bottom: 2rem;
    margin: 1rem;
    border: 1px solid white;

    display: flex;
    flex-flow: column nowrap;
    
    
    & .scan-entry {
        padding: 1rem;
        display: flex;
        flex-flow: row wrap;
        gap: 1rem;
        justify-content: space-between;

        &:nth-child(even) {
            background-color: rgba(255, 255, 255, 0.062);
        }
    }
}
