.error-message-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;

    padding: 1rem;

    background-color: rgba(255, 0, 0, 0.233);

    & .error-message-text {
        padding: 1rem;
        color: white;

        white-space: pre-line;
    }

    & .error-message-icon {
        font-size: 2rem;
        color: white;
    }
}