.success-message-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    
    background-color: rgba(0, 255, 34, 0.233);

    & .success-message-text {
        padding: 1rem;
        color: white;

        white-space: pre-line;
    }

    & .success-message-icon {
        font-size: 2rem;
        color: white;
    }
}