.hero {
    display: flex;
    flex-flow: row wrap;

    align-items: center;
    justify-content: center;

    & .logo-container {
        width: 40%;

        @media (max-width: 30rem) {
            width: 60%;
        }
        
        & .logo {
            max-height: 100%;
            max-width: 100%;
        }
    }

    & .intro {
        box-sizing: border-box;
        width: 60%;
        padding: 2rem;

        @media (max-width: 30rem) {
            width: 100%;
            text-align: center;
        }
    }
}


