.formWrapper {
    width: 30rem;
    padding: 1rem 2rem;
    padding-bottom: 2rem;
    color: white;
    background-color: rgba(0, 0, 0, 0.61);

    font-size: 1.2rem;

    user-select: none;

    & a {
        color: inherit;
    }

    & h1 {
        text-align: center;
    }

    & > form > div {

        position: relative;
        margin: 1rem 0;

        & > .icon {
            position: absolute;
            left: 1rem;
            top: 50%;
            transform: translateY(-50%);
        }

        & > input {
            box-sizing: border-box;
            width: 100%;
            height: 3rem;
            padding: 1rem;
            padding-left: 3rem;  /* for the icons */

            border-radius: 2rem;
            border: 1px solid white;
            

            font-size: 1.2rem;
            background-color: transparent;
            color: white;

        }
    }

    & > form > div.remember-forgot {
        display: flex;
        justify-content: space-between;
        padding: 0 2rem;
        margin-bottom: 2rem;

        & label {
            cursor: pointer;
        }

        & input[type="checkbox"] {
            accent-color: white;
        }
    }

    & > form > div.signup {
        margin-top: 2rem;
        text-align: center;
    }

    & > form > button {
        width: 100%;
        height: 3rem;
        border-radius: 2rem;
        border: none;

        cursor: pointer;

        font-size: 1.2rem;
        background-color: white;
        font-weight: bold;
    }

    & > form > div.error {
        color: red;
        text-align: center;
        white-space: pre-wrap;
    }

    & > form > div.success {
        color: green;
        text-align: center;
        white-space: pre-wrap;
    }

    & hr {
        margin: 2rem 0;
    }
}